    padding: 24px;
    color: #ffff;
}

#copright a{
    color:#ff9a6c;
}

@media (max-width: 390px) {

    header {
        flex-direction: column; /* Reorganiza os elementos verticalmente */
        justify-content: center;
        padding: 20px;
    }

    header nav a {
        margin: 10px 0; /* Reduz o espaço entre os links */
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }

    footer {
        flex-direction: column; /* Organiza os itens em uma coluna */
        padding: 32px 20px; /* Reduz o padding */
        gap: 20px; /* Reduz o espaço entre os elementos */
    }

    footer p {
        max-width: 100%; /* Permite que o texto ocupe toda a largura disponível */
        text-align: center; /* Centraliza o texto */
    }

    footer nav {
        text-align: center; /* Centraliza os links de navegação */
    }

    footer img {
        margin: 0 auto 16px auto; /* Centraliza a imagem */
    }

    footer nav a {
        font-size: 14px; /* Reduz o tamanho da fonte para telas menores */
    }
}

::-webkit-scrollbar{
    width: 7px;
    }
::-webkit-scrollbar-thumb{
    background-color: #006AFF;
    }
